@mixin colorYbackground($color,$background,$fSize){
	color:$color;
	background-color:$background;
	font-size:$fSize;
}

div{
	@include colorYbackground(red,yellow,40px);
}

// sin parametro
@mixin flexRowCenter{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

header{
	@include flexRowCenter;
}